# Content Based Filtering

<br>Let's load the data<br>

In [13]:
import pandas as pd
import numpy as np
df1 = pd.read_csv('./datasets/tmdb_5000_credits.csv')
df2 = pd.read_csv('./datasets/tmdb_5000_movies.csv')

In [14]:
df1.head(3)

,movie_id,title,cast,crew
0,19995,Avatar,"[{""cast_id"": 242, ""character"": ""Jake Sully"", ""...","[{""credit_id"": ""52fe48009251416c750aca23"", ""de..."
1,285,Pirates of the Caribbean: At World's End,"[{""cast_id"": 4, ""character"": ""Captain Jack Spa...","[{""credit_id"": ""52fe4232c3a36847f800b579"", ""de..."
2,206647,Spectre,"[{""cast_id"": 1, ""character"": ""James Bond"", ""cr...","[{""credit_id"": ""54805967c3a36829b5002c41"", ""de..."

<br>The first dataset contains four different features : movie_id, title, cast and crew<br>

In [15]:
df2.head(3)

,budget,genres,homepage,id,keywords,original_language,original_title,overview,popularity,production_companies,production_countries,release_date,revenue,runtime,spoken_languages,status,tagline,title,vote_average,vote_count
0,237000000,"[{""id"": 28, ""name"": ""Action""}, {""id"": 12, ""nam...",http://www.avatarmovie.com/,19995,"[{""id"": 1463, ""name"": ""culture clash""}, {""id"":...",en,Avatar,"In the 22nd century, a paraplegic Marine is di...",150.437577,"[{""name"": ""Ingenious Film Partners"", ""id"": 289...","[{""iso_3166_1"": ""US"", ""name"": ""United States o...",2009-12-10,2787965087,162.0,"[{""iso_639_1"": ""en"", ""name"": ""English""}, {""iso...",Released,Enter the World of Pandora.,Avatar,7.2,11800
1,300000000,"[{""id"": 12, ""name"": ""Adventure""}, {""id"": 14, ""...",http://disney.go.com/disneypictures/pirates/,285,"[{""id"": 270, ""name"": ""ocean""}, {""id"": 726, ""na...",en,Pirates of the Caribbean: At World's End,"Captain Barbossa, long believed to be dead, ha...",139.082615,"[{""name"": ""Walt Disney Pictures"", ""id"": 2}, {""...","[{""iso_3166_1"": ""US"", ""name"": ""United States o...",2007-05-19,961000000,169.0,"[{""iso_639_1"": ""en"", ""name"": ""English""}]",Released,"At the end of the world, the adventure begins.",Pirates of the Caribbean: At World's End,6.9,4500
2,245000000,"[{""id"": 28, ""name"": ""Action""}, {""id"": 12, ""nam...",http://www.sonypictures.com/movies/spectre/,206647,"[{""id"": 470, ""name"": ""spy""}, {""id"": 818, ""name...",en,Spectre,A cryptic message from Bondâ€™s past sends him o...,107.376788,"[{""name"": ""Columbia Pictures"", ""id"": 5}, {""nam...","[{""iso_3166_1"": ""GB"", ""name"": ""United Kingdom""...",2015-10-26,880674609,148.0,"[{""iso_639_1"": ""fr"", ""name"": ""Fran\u00e7ais""},...",Released,A Plan No One Escapes,Spectre,6.3,4466

<br>The second dataset contains 20 different features.<br>
Now merging the two datasets on the basis of a feature which both the datasets have i.e. movie_id.<br>

In [16]:
df1.columns = ['id','tittle','cast','crew']
df2 = df2.merge(df1,on='id')
df2.head(3)

,budget,genres,homepage,id,keywords,original_language,original_title,overview,popularity,production_companies,...,runtime,spoken_languages,status,tagline,title,vote_average,vote_count,tittle,cast,crew
0,237000000,"[{""id"": 28, ""name"": ""Action""}, {""id"": 12, ""nam...",http://www.avatarmovie.com/,19995,"[{""id"": 1463, ""name"": ""culture clash""}, {""id"":...",en,Avatar,"In the 22nd century, a paraplegic Marine is di...",150.437577,"[{""name"": ""Ingenious Film Partners"", ""id"": 289...",...,162.0,"[{""iso_639_1"": ""en"", ""name"": ""English""}, {""iso...",Released,Enter the World of Pandora.,Avatar,7.2,11800,Avatar,"[{""cast_id"": 242, ""character"": ""Jake Sully"", ""...","[{""credit_id"": ""52fe48009251416c750aca23"", ""de..."
1,300000000,"[{""id"": 12, ""name"": ""Adventure""}, {""id"": 14, ""...",http://disney.go.com/disneypictures/pirates/,285,"[{""id"": 270, ""name"": ""ocean""}, {""id"": 726, ""na...",en,Pirates of the Caribbean: At World's End,"Captain Barbossa, long believed to be dead, ha...",139.082615,"[{""name"": ""Walt Disney Pictures"", ""id"": 2}, {""...",...,169.0,"[{""iso_639_1"": ""en"", ""name"": ""English""}]",Released,"At the end of the world, the adventure begins.",Pirates of the Caribbean: At World's End,6.9,4500,Pirates of the Caribbean: At World's End,"[{""cast_id"": 4, ""character"": ""Captain Jack Spa...","[{""credit_id"": ""52fe4232c3a36847f800b579"", ""de..."
2,245000000,"[{""id"": 28, ""name"": ""Action""}, {""id"": 12, ""nam...",http://www.sonypictures.com/movies/spectre/,206647,"[{""id"": 470, ""name"": ""spy""}, {""id"": 818, ""name...",en,Spectre,A cryptic message from Bondâ€™s past sends him o...,107.376788,"[{""name"": ""Columbia Pictures"", ""id"": 5}, {""nam...",...,148.0,"[{""iso_639_1"": ""fr"", ""name"": ""Fran\u00e7ais""},...",Released,A Plan No One Escapes,Spectre,6.3,4466,Spectre,"[{""cast_id"": 1, ""character"": ""James Bond"", ""cr...","[{""credit_id"": ""54805967c3a36829b5002c41"", ""de..."

<br>We will compute the pairwise similarity scores of all the movies with each other based on their plot description and recommend movies based on that similarity scores. We plot descriptions of the movies in the overview feature in our dataset.<br>
let's plot it - <br>

In [17]:
df2['overview'].head()

0    In the 22nd century, a paraplegic Marine is di...
1    Captain Barbossa, long believed to be dead, ha...
2    A cryptic message from Bondâ€™s past sends him o...
3    Following the death of District Attorney Harve...
4    John Carter is a war-weary, former military ca...
Name: overview, dtype: object

<br><br>Before finding the similarity scores among the overview of different movies, we need to convert word-vector to each overview. We'll compute Term Frequency-Inverse Document Frequency (TF-IDF) vectors for each overview. In the sklearn python library, the TfidfVectorizer() method is already defined for this purpose.<br><br>
Tf is the relative frequency of a word in a document and is given as (count of that word/total number of words). Inverse Document Frequency is the relative count of documents containing the term is given as log(number of total documents/documents with that word). The overall importance of each word to the documents in which they appear is equal to <b>TF * IDF</b>. 
    This will give us a matrix where each column represents a word in the overview vocabulary (all the words that appear in at least one document) and each row represents a movie, as before.<br>
    
<b>Note</b> : Tfidf has a benefit over CountVectorizer method since it balances the TF with IDF for such common words which appear in every document.TF-IDF will give higher scores to the words which appear very rarely and thus theyâ€™ll be the ones that the model identifies as important and tries to learn.<br><br>

In [18]:
#import TfidfVectorizer from scikit-learn
from sklearn.feature_extraction.text import TfidfVectorizer

#Define a TF*IDF object and remove all the stopwords such as 'the','a' 
tfidf = TfidfVectorizer(stop_words='english')

#fill all the NaN values with an empty string
df2['overview'] = df2['overview'].fillna('')

#Fitting and trasforming the to construct a tfidf-matrix
tfidf_matrix = tfidf.fit_transform(df2['overview'])

tfidf_matrix.shape

(4803, 20978)

<br>Calculating the dot product will directly give us the cosine similarity score of the overview vectors. Therefore, we will use sklearn's linear_kernel() instead of cosine_similarities() since it is faster.<br>

In [19]:
from sklearn.metrics.pairwise import linear_kernel
cosine_sim = linear_kernel(tfidf_matrix)

<br>We are going to define a function which takes movie name as input and outputs the 10 most similar movies.For this, we need a mechanism to identify the index of a movie in our metadata DataFrame. So, we need a reverse mapping of movie titles and DataFrame indices<br>

In [20]:
indices = pd.Series(df2.index, index=df2['title']).drop_duplicates()

In [23]:
def get_recommendations(title,cosine_sim=cosine_sim):
    
    #Get the index of the given movie title
    idx = indices[title]
    
    #Get the similarity scores of all the movies with the given movie
    sim_scores = list(enumerate(cosine_sim[idx]))
    
    #sort all the movies based on the similarity scores 
    sim_scores = sorted(sim_scores, key=lambda x: x[1], reverse=True)
    
    #Get the scores of top 10 movies
    sim_scores = sim_scores[1:11]
    
    #Get the indices of top 10 scores
    movie_indices = [i[0] for i in sim_scores]
    
    #Return the top 10 similar movies
    return df2['title'].loc[movie_indices]

In [22]:
get_recommendations('Legal Eagles')

1181                          JFK
2507                    Slow Burn
1840                The Lucky One
3771                  Love Stinks
122      X-Men Origins: Wolverine
3548                  Headhunters
879           Law Abiding Citizen
2933                     F.I.S.T.
4800    Signed, Sealed, Delivered
2692                      Thinner
Name: title, dtype: object